<!DOCTYPE html>
<html>
<head>
  <title>TodoReact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="main" id="content"></div>
</body>
</html>
